.form {
    margin-left: 390px;
    margin-top: 80px;
}

.sellerform {
    height: 30px;
    width: 20vw;
    padding-left: 30px;
    margin-top: 10px;
    border-radius: 15px;
}

.sellerbtn {
    height: 40px;
    width: 140px;
    margin-top: 10px;
    margin-left: 80px;
    background-color: green;

}

.sellerhead {
    margin-left: 90px;
}