.price {
    color: rgb(3, 54, 3);
    font-weight: 600;

}

.description {
    font-weight: 800;
    padding: 10px;
}

.single-product {
    height: 40vh;
}

.sub-carousal-image {
    height: 150px;
    width: 150px;
    margin-top: 40px;
    /* margin-left: 60px; */
}